<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kunafa AI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div style="background:black !important" class="jumbotron text-center">
  <h1 style="color: whitesmoke;">KUNAFA AI</h1>
  <p>An AI 👾 for monitoring minions 😛</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Camera Configurations</h3>
      <form action = "" method = "post" class="post-form">
        {% csrf_token %}
        <table>
          <tr>
              <td>{{form.as_p}}</td>        
              {% if status %}
              <script>
                alert("Camera Configurations Updated")
              </script>
              {%endif%}
          </tr>
          <tr>
            <td><input type="submit" value=Submit class="btn btn-primary"></td>
          </tr>
        </table>
      </form>    
    </div>    

    <div class="col-sm-4">
      <h3>Loaded Configurations</h3>
      <form action = "" method = "post" class="post-form">
        {% csrf_token %}
        <table>
          {%for config in all_data%}
            <tr>  
                <td>{{config.IPV4}}</td>                
            </tr>
            <tr>
                <td>{{config.PORT}}</td>                
            </tr>
            <tr>
              <td>{{config.MODEL}}</td>                
            </tr>
            <tr>
              <td>{{config.SOUND}}</td>
            </tr>
            {%endfor%}
            <tr>
              <td><submit><a href="http://127.0.0.1:8000/delete">Delete Configurations</a></submit></td>              
            </tr>
            <tr>
              <td><submit><a href="http://127.0.0.1:8000/start">Start Vision Service</a></submit></td>        
            </tr>
          </table>  
      </form>    
    </div>    
  </div>
</div>



</body>
</html>
