<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kunafa AI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div style="background:black !important" class="jumbotron text-center">
  <h1 style="color: whitesmoke;">KUNAFA AI</h1>
  <p>An AI 👾 for monitoring minions 😛</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Tasks Reminders</h3>
      <form>
        <table>
            <tr>  
                <td><input type="text" class="form-control" id="usr" placeholder="Task name"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>            
                <td><input type="time" class="form-control" id="time"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>    
            <tr>
                <td><button type="button" class="btn btn-primary" >Submit</Submit></td>                
            </tr>            
          </table>  
      </form>    
    </div>    

    <div class="col-sm-4">
      <h3>Camera Configurations</h3>
      <form>
        <table>
            <tr>  
                <td><input type="text" class="form-control" id="ip" placeholder="IP Address"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>            
                <td><input type="text" class="form-control" id="port" placeholder="Port"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>    
            <tr>
                <td><button type="button" class="btn btn-primary" >Submit</Submit></td>                               
            </tr>            
          </table>  
      </form>    
    </div>    
  </div>
</div>



</body>
</html>
